.contact {
    background: #161627;
    padding: 50px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.contact h2 {
    color: #A97BFF;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2rem;
    color: white;
}

.contact a {
    color: #A97BFF;
    font-weight: bold;
    text-decoration: none;
}

.social-links {
    margin-top: 15px;
}

.social-links a {
    margin: 10px;
    padding: 10px 15px;
    background: #A97BFF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}