.hero {
    padding: 50px 20px;
    background: #0A0A1E;
}

.hero h1,
h2 {
    font-size: 2.5rem;
    color: #fff;
}

.hero p {
    font-size: 1.2rem;
}

strong {
    color: white;
    margin-right: 10px;
}